<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
</head>
<body>
    <h1>Items in Cart:</h1>
    {{products}}
    {% if products %}
    <table>
        <thead>
            <th>Product Name</th>
            <th>Quantity</th>
        </thead>
         {% comment %} {% for key,val in products %}
        <tr>
            <td>{{key}}</td>
            <td>{{val}}</td>
        </tr>
        {% endfor %}  {% endcomment %}
    </table>
    {% else %}
    <h4> No Item Records Found :</h4>
    {% endif %}
</body>
</html>